.shake-link {
  display: inline-block;
}

.shake-link:hover {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

body {
    background-color: #deddd3;
    color: #b07943;
    margin: 0;
    padding: 20px;
  font-family: "Inter", "Helvetica Neue",
  font-size: 26px;
    max-width: 600px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
}

/* Links */
a:link{
  color: #cc5733;
  text-decoration: none;
}
a:visited {
  color: #cc3333;
  text-decoration: none;
}
a:hover {
  color: #cc3385;
}


a {
  background-color: #d6bd60;
  padding: 6px 14px;
  border-radius: 50px;

  display: inline-block;
}

a:hover {
    text-decoration: none;
    text-decoration-color: #d6bd600;
    text-decoration-style: none;
}

/* Headings */
h1 {
    color: #a12020;
    font-size: 60px;
    margin: 0px 0 8px;
  text-align: center;
}

h2 {
    color: #a15820;
    font-size: 36px;
    margin: 0px 0 8px;
    text-align: center;
}
